body {
    background-color: lightblue;
    background-image: image.jpg;
  }
  
  h1 {
    color: rgb(55, 53, 204);
    text-align: center;
    margin-left: 20px;
  }

.center {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.text {
     text-align: center;
     font-family: Segoe UI;

}

.type{
    text-align: center;
    font-size: 30px;
    font-family:Segoe UI;

}
.container {
    width: 100%;
    background-color: #ddd;
  }
  
  .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }
  
  .html {width: 90%; background-color: #04AA6D;}
  .css {width: 80%; background-color: #2196F3;}
  .js {width: 65%; background-color: #e1f436;}
  .SEO {width: 85%; background-color: #f543b1;}

  .effect{
      text-align: center;

  }

  .education{
      
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    border-collapse: collapse;
    width: 100%;
    color: rgb(205, 50, 205);
  }

  .t{
    text-align: left;
    color: tomato;

  }